body {
    background: #111;
    color: blue;
    font-family: Arial;
    text-align: center;
}

header {
    background: blue;
    padding: 30px;
    border-radius: 20px;
}

section {
    margin: 30px;
    background: #222;
    padding: 20px;
    border-radius: 15px;
}

button {
    background: red;
    color: green;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
}

button:hover {
    background: orange;
}
